{% include "friends/_profile_header.html" %}

<div class="detail-tabs">
    <button type="button" class="detail-tab active"
            hx-get="/friends/{{ friend.id }}/tab/info" hx-target="#friend-detail-tab-content" hx-swap="innerHTML">情報</button>
    <button type="button" class="detail-tab"
            hx-get="/friends/{{ friend.id }}/tab/groups" hx-target="#friend-detail-tab-content" hx-swap="innerHTML">グループ</button>
    <button type="button" class="detail-tab"
            hx-get="/friends/{{ friend.id }}/tab/worlds" hx-target="#friend-detail-tab-content" hx-swap="innerHTML">ワールド</button>
    <button type="button" class="detail-tab"
            hx-get="/friends/{{ friend.id }}/tab/activity" hx-target="#friend-detail-tab-content" hx-swap="innerHTML">アクティビティ</button>
    <button type="button" class="detail-tab"
            hx-get="/friends/{{ friend.id }}/tab/json" hx-target="#friend-detail-tab-content" hx-swap="innerHTML">JSON</button>
</div>

<div id="friend-detail-tab-content">
    {% include "friends/_tab_info.html" %}
</div>
